	.container {
		padding: 20px;
		font-size: 14px;
		line-height: 24px;
		display: grid;
		grid-template-columns: 1fr 1fr ;
		gap:20rpx;
	}

	.menu-image{
		width: 100%;
		height: 80%;
		border-bottom: 1px solid #55aaff;
	}
